.header {
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 60px;
	background-color: #202e42;
	color: #ddd;
	font-size: 18px;
	min-width: 1024px;

}
.h-l{
	float: left;
	width: 30%;
	position: relative;
	text-align: left;
	vertical-align: middle;
	font-size: 20px;
}
.h-r{
	float: left;
	width: 70%;
	text-align: right;
	position: relative;
	font-size: 14px;
}
.h-l-n{
	vertical-align: middle;
	margin-left:0;
	color:white;
}
.nav-logo{

}
img{
	vertical-align: middle;
}